In [18]:
import pandas as pd
import csat_preprocessig
from csat_preprocessig import csat_preprocessing
import warnings
import importlib
warnings.filterwarnings("ignore")
importlib.reload(csat_preprocessig)
import pickle
from concurrent.futures import ProcessPoolExecutor

In [19]:
cdata=pd.read_csv("eCommerce_Customer_support_data.csv")

In [20]:
data=pd.read_csv("eCommerce_Customer_support_data.csv")

In [ ]:
cdata=csat_preprocessing(pd.read_csv("eCommerce_Customer_support_data.csv")).preprocessed()

2025-10-14 10:52:26.793 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-10-14 10:52:26.795 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-10-14 10:52:26.796 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-10-14 10:52:26.796 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-10-14 10:52:26.798 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-10-14 10:52:26.799 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-10-14 10:56:31.930 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-10-14 10:56:31.933 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-10-14 10:56:31.933 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-10-14 10:56:31.935 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-10-14 10:56:31.935 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-10-14 10:56:31.936 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [ ]:
cdata

,channel_name,category,sub-category,customer_remarks,order_id,order_date_time,issue_reported_at,issue_responded,survey_response_date,customer_city,...,connected_handling_time,agent_name,supervisor,manager,tenure_bucket,agent_shift,csat_score,sentiment_score,issue_resolution_time,survey_response_time
Unique id,,,,,,,,,,,,,,,,,,,,,
7e9ae164-6a8b-4521-a2d4-58f7c9fff13f,2.0,8.0,19.0,No_Remarks,c27c9bb4-fa36-4140-9f1f-21009254ffdb,NaN,01/08/2023 11:13,01/08/2023 11:47,01-Aug-23,684.0,...,433.0,1072.0,26.0,1.0,4.0,2.0,5,0.4215,34.0,0.0
b07ec1b0-f376-43b6-86df-ec03da3b2e16,2.0,8.0,34.0,No_Remarks,d406b0c7-ce17-4654-b9de-f08d421254bd,NaN,01/08/2023 12:52,01/08/2023 12:54,01-Aug-23,684.0,...,408.2,1323.0,9.0,3.0,3.0,2.0,5,0.4215,2.0,0.0
200814dd-27c7-4149-ba2b-bd3af3092880,1.0,5.0,15.0,No_Remarks,c273368d-b961-44cb-beaf-62d6fd6c00d5,NaN,01/08/2023 20:16,01/08/2023 20:38,01-Aug-23,684.0,...,335.6,370.0,18.0,5.0,4.0,1.0,5,0.4215,22.0,0.0
eb0d3e53-c1ca-42d3-8486-e42c8d622135,1.0,10.0,40.0,No_Remarks,5aed0059-55a4-4ec6-bb54-97942092020a,NaN,01/08/2023 20:56,01/08/2023 21:16,01-Aug-23,684.0,...,459.6,1024.0,33.0,2.0,3.0,1.0,5,0.4215,20.0,0.0
ba903143-1e54-406c-b969-46c52f92e5df,1.0,1.0,22.0,No_Remarks,e8bed5a9-6933-4aff-9dc6-ccefd7dcde59,NaN,01/08/2023 10:30,01/08/2023 10:32,01-Aug-23,684.0,...,605.4,247.0,4.0,3.0,0.0,2.0,5,0.4215,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505ea5e7-c475-4fac-ac36-1d19a4cb610f,1.0,9.0,36.0,No_Remarks,1b5a2b9c-a95f-405f-a42e-5b1b693f3dc9,NaN,30/08/2023 23:20,31/08/2023 07:22,31-Aug-23,684.0,...,416.4,142.0,14.0,5.0,4.0,2.0,4,0.4215,482.0,0.4
44b38d3f-1523-4182-aba2-72917586647c,1.0,5.0,42.0,Supported team customer executive good,d0e8a817-96d5-4ace-bb82-adec50398e22,NaN,31/08/2023 08:15,31/08/2023 08:17,31-Aug-23,684.0,...,495.8,776.0,30.0,0.0,3.0,2.0,5,0.6369,2.0,0.0
723bce2c-496c-4aa8-a64b-ca17004528f0,1.0,5.0,25.0,need to improve with proper details.,bdefe788-ccec-4eda-8ca4-51045e68db8a,NaN,31/08/2023 18:57,31/08/2023 19:02,31-Aug-23,684.0,...,630.0,732.0,1.0,4.0,4.0,1.0,5,0.4404,5.0,0.0
707528ee-6873-4192-bfa9-a491f1c08ab5,1.0,2.0,50.0,No_Remarks,a031ec28-0c5e-450e-95b2-592342c40bc4,NaN,31/08/2023 19:59,31/08/2023 20:00,31-Aug-23,684.0,...,459.2,295.0,32.0,4.0,3.0,2.0,4,0.4215,1.0,0.0
07c7a878-0d5a-42e0-97ef-de59abec0238,1.0,10.0,40.0,No_Remarks,3230db30-f8da-4c44-8636-ec76d1d3d4f3,NaN,31/08/2023 23:36,31/08/2023 23:37,31-Aug-23,684.0,...,494.8,386.0,29.0,1.0,4.0,1.0,5,0.4215,1.0,0.0

In [ ]:
cdata["survey_response_time"].astype("timedelta64[s]").dt.seconds/60

Unique id
7e9ae164-6a8b-4521-a2d4-58f7c9fff13f    0.0
b07ec1b0-f376-43b6-86df-ec03da3b2e16    0.0
200814dd-27c7-4149-ba2b-bd3af3092880    0.0
eb0d3e53-c1ca-42d3-8486-e42c8d622135    0.0
ba903143-1e54-406c-b969-46c52f92e5df    0.0
                                       ...
505ea5e7-c475-4fac-ac36-1d19a4cb610f    0.0
44b38d3f-1523-4182-aba2-72917586647c    0.0
723bce2c-496c-4aa8-a64b-ca17004528f0    0.0
707528ee-6873-4192-bfa9-a491f1c08ab5    0.0
07c7a878-0d5a-42e0-97ef-de59abec0238    0.0
Name: survey_response_time, Length: 85906, dtype: float64

In [ ]:
cdata.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85906 entries, 7e9ae164-6a8b-4521-a2d4-58f7c9fff13f to 07c7a878-0d5a-42e0-97ef-de59abec0238
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   channel_name             85906 non-null  float64
 1   category                 85906 non-null  float64
 2   sub-category             85906 non-null  float64
 3   customer_remarks         85906 non-null  object
 4   order_id                 67675 non-null  object
 5   order_date_time          17214 non-null  object
 6   issue_reported_at        85906 non-null  object
 7   issue_responded          85906 non-null  object
 8   survey_response_date     85906 non-null  object
 9   customer_city            85906 non-null  float64
 10  product_category         85906 non-null  float64
 11  item_price               85906 non-null  float64
 12  connected_handling_time  85906 non-null  float64
 13  agent_name               85906 non-null  float64
 14  supervisor               85906 non-null  float64
 15  manager                  85906 non-null  float64
 16  tenure_bucket            85906 non-null  float64
 17  agent_shift              85906 non-null  float64
 18  csat_score               85906 non-null  int64
 19  sentiment_score          85906 non-null  float64
 20  issue_resolution_time    85906 non-null  float64
 21  survey_response_time     85906 non-null  float64
dtypes: float64(15), int64(1), object(6)
memory usage: 17.1+ MB

In [ ]:
import seaborn as sns

In [ ]:
sns.barplot(x="channel_name", y="csat_score", data=cdata);

In [ ]:
cdata.shape

(85906, 22)

In [ ]:
cdata.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85906 entries, 7e9ae164-6a8b-4521-a2d4-58f7c9fff13f to 07c7a878-0d5a-42e0-97ef-de59abec0238
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   channel_name             85906 non-null  float64
 1   category                 85906 non-null  float64
 2   sub-category             85906 non-null  float64
 3   customer_remarks         85906 non-null  object
 4   order_id                 67675 non-null  object
 5   order_date_time          17214 non-null  object
 6   issue_reported_at        85906 non-null  object
 7   issue_responded          85906 non-null  object
 8   survey_response_date     85906 non-null  object
 9   customer_city            85906 non-null  float64
 10  product_category         85906 non-null  float64
 11  item_price               85906 non-null  float64
 12  connected_handling_time  85906 non-null  float64
 13  agent_name               85906 non-null  float64
 14  supervisor               85906 non-null  float64
 15  manager                  85906 non-null  float64
 16  tenure_bucket            85906 non-null  float64
 17  agent_shift              85906 non-null  float64
 18  csat_score               85906 non-null  int64
 19  sentiment_score          85906 non-null  float64
 20  issue_resolution_time    85906 non-null  float64
 21  survey_response_time     85906 non-null  float64
dtypes: float64(15), int64(1), object(6)
memory usage: 17.1+ MB

In [ ]:
cdata.head(2)

,channel_name,category,sub-category,customer_remarks,order_id,order_date_time,issue_reported_at,issue_responded,survey_response_date,customer_city,...,connected_handling_time,agent_name,supervisor,manager,tenure_bucket,agent_shift,csat_score,sentiment_score,issue_resolution_time,survey_response_time
Unique id,,,,,,,,,,,,,,,,,,,,,
7e9ae164-6a8b-4521-a2d4-58f7c9fff13f,2.0,8.0,19.0,No_Remarks,c27c9bb4-fa36-4140-9f1f-21009254ffdb,NaN,01/08/2023 11:13,01/08/2023 11:47,01-Aug-23,684.0,...,433.0,1072.0,26.0,1.0,4.0,2.0,5,0.4215,34.0,0.0
b07ec1b0-f376-43b6-86df-ec03da3b2e16,2.0,8.0,34.0,No_Remarks,d406b0c7-ce17-4654-b9de-f08d421254bd,NaN,01/08/2023 12:52,01/08/2023 12:54,01-Aug-23,684.0,...,408.2,1323.0,9.0,3.0,3.0,2.0,5,0.4215,2.0,0.0

#### Feature Dropping Reason Explained
1. **Dropping irrelavant Feature**:
    - *Customer_remarks dropping as already Feature Engineered Sentiment score from it which explained the Remarks in numerical manner*
    - *Dropping order_id as it is just an id and doesn't provide any inferences and related to csat score.*
    - *Dropping issue_reported_at issue_responded survey_response_date as already Feature Engineered issue_resolution_time	survey_response_time*

In [ ]:
cdata.drop(["customer_remarks","order_id","order_date_time","issue_reported_at", "issue_responded","survey_response_date"], inplace=True, axis=1)

# Model Training Started

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
cdata.head(2)

,channel_name,category,sub-category,customer_city,product_category,item_price,connected_handling_time,agent_name,supervisor,manager,tenure_bucket,agent_shift,csat_score,sentiment_score,issue_resolution_time,survey_response_time
Unique id,,,,,,,,,,,,,,,,
7e9ae164-6a8b-4521-a2d4-58f7c9fff13f,2.0,8.0,19.0,684.0,2.0,979.0,433.0,1072.0,26.0,1.0,4.0,2.0,5,0.4215,34.0,0.0
b07ec1b0-f376-43b6-86df-ec03da3b2e16,2.0,8.0,34.0,684.0,2.0,979.0,408.2,1323.0,9.0,3.0,3.0,2.0,5,0.4215,2.0,0.0

In [ ]:
cdata.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85906 entries, 7e9ae164-6a8b-4521-a2d4-58f7c9fff13f to 07c7a878-0d5a-42e0-97ef-de59abec0238
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   channel_name             85906 non-null  float64
 1   category                 85906 non-null  float64
 2   sub-category             85906 non-null  float64
 3   customer_city            85906 non-null  float64
 4   product_category         85906 non-null  float64
 5   item_price               85906 non-null  float64
 6   connected_handling_time  85906 non-null  float64
 7   agent_name               85906 non-null  float64
 8   supervisor               85906 non-null  float64
 9   manager                  85906 non-null  float64
 10  tenure_bucket            85906 non-null  float64
 11  agent_shift              85906 non-null  float64
 12  csat_score               85906 non-null  int64
 13  sentiment_score          85906 non-null  float64
 14  issue_resolution_time    85906 non-null  float64
 15  survey_response_time     85906 non-null  float64
dtypes: float64(15), int64(1)
memory usage: 13.2+ MB