In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("eCommerce_Customer_support_data.csv")

In [4]:
data["Agent_name"].unique()

array(['Richard Buchanan', 'Vicki Collins', 'Duane Norman', ...,
       'Madison Flores', 'Brenda Gillespie', 'Kristina Gutierrez'],
      shape=(1371,), dtype=object)

In [5]:
agent_names=data["Agent_name"].unique()

In [12]:
data["Manager"].unique()

array(['Jennifer Nguyen', 'Michael Lee', 'William Kim', 'John Smith',
       'Olivia Tan', 'Emily Chen'], dtype=object)

In [ ]:
supervidors=data["Supervisor"].unique()

In [6]:
new_df=pd.DataFrame(agent_names,columns=["Agent_name"])

In [9]:
new_df

               Agent_name
0        Richard Buchanan
1           Vicki Collins
2            Duane Norman
3          Patrick Flores
4     Christopher Sanchez
...                   ...
1366           Chad Wells
1367            Donna Lee
1368       Madison Flores
1369     Brenda Gillespie
1370   Kristina Gutierrez

[1371 rows x 1 columns]

In [8]:
new_df.to_csv("uniques.csv",index=False)

In [15]:
city=data["Customer_City"].unique()

In [18]:
city_df=pd.DataFrame(city,columns=["Customer_City"])
city_df.to_csv("customer_city.csv",index=False)

In [19]:
data.columns

Index(['Unique id', 'channel_name', 'category', 'Sub-category',
       'Customer Remarks', 'Order_id', 'order_date_time', 'Issue_reported at',
       'issue_responded', 'Survey_response_Date', 'Customer_City',
       'Product_category', 'Item_price', 'connected_handling_time',
       'Agent_name', 'Supervisor', 'Manager', 'Tenure Bucket', 'Agent Shift',
       'CSAT Score'],
      dtype='object')

In [22]:
testdata=data.drop("CSAT Score", axis=1)
testdata=testdata.head(500)

In [28]:
testdata.set_index("Unique id", inplace=True)
testdata.to_csv("testdata.csv", index="Unique id")